<?xml version="1.0" encoding="utf-8"?> <manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto"> <uses-permission android:name="android.permission.INTERNET" /> <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <uses-permission android:name="android.permission.VIBRATE" />
<uses-feature android:name="android.hardware.touchscreen" android:required="false" /> <uses-feature android:name="android.hardware.gamepad" android:required="false" /> <uses-feature android:name="android.hardware.usb.host" android:required="false" /> <uses-feature android:glEsVersion="0x00020000" android:required="true" />
<application android:label="Kerberus XP" android:icon="@mipmap/ic_launcher" android:banner="@mipmap/ic_banner" android:theme="@style/AppTheme" android:appCategory="game" android:isGame="true" android:hardwareAccelerated="true" android:largeHeap="true" android:extractNativeLibs="true" android:allowBackup="true">
<activity android:name="com.kerberus.launcher.KerberusLauncherActivity" android:label="Kerberus XP" android:screenOrientation="unspecified" android:exported="true"> <intent-filter> <action android:name="android.intent.action.MAIN" /> <category android:name="android.intent.category.LAUNCHER" /> </intent-filter> </activity>
<activity android:name="com.hatkid.mkxpz.MainActivity" android:label="Kerberus Runtime" android:process=":runtime" android:alwaysRetainTaskState="true" android:launchMode="singleTask" android:screenOrientation="sensorLandscape" android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|density|keyboard|keyboardHidden|navigation" android:resizeableActivity="true" android:preferMinimalPostProcessing="true" android:exported="false"> <meta-data android:name="mkxp_debug" android:value="false" /> </activity> </application> </manifest>

